extends ../layout/skeleton.pug

block title 
    title #{ pageTitle }

block styles
    link(rel = "stylesheet", href = "/css/form.css")

block content        
    main
        if errors.length > 0 
            .user-message.user-message__error #{ errors[0].msg }
        form.product-form(action = "/admin/add-product", method = "POST", enctype = "multipart/form-data")
            .form-control  
                label(for = "title") Product Title
                input(type = "text", name = "title", id = "title", value = oldInput.title, class = (errors.find((error) => error.param === 'title') ? 'invalid' : ''), required = "required") 
            .form-control  
                label(for = "description") Product Description
                textarea(rows = "6", name = "description", id = "description", class = (errors.find((error) => error.param === 'description') ? 'invalid' : ''), required = "required") #{ oldInput.description }
            .form-control  
                label(for = "price") Product Price
                input(type = "number", step = "0.01", name = "price", id = "price", value = oldInput.price, class = (errors.find((error) => error.param === 'price') ? 'invalid' : ''), required = "required")
            .form-control  
                label(for = "image") Product Image
                input(type = "file", name = "image", id = "image", class = (errors.find((error) => error.param === 'image') ? 'invalid' : ''))
            input(type = "hidden", name = "_csrf", value = csrfToken)
            button(type = "submit") Add Product                           