extends ../layout/skeleton.pug

block title 
    title #{ pageTitle }

block styles
    link(rel = "stylesheet", href = "/css/form.css")

block content        
    main
        if errors.length > 0 
            .user-message.user-message__error #{ errors[0].msg }
        form.product-form(action = "/admin/edit-product", method = "POST")
            .form-control  
                label(for = "title") Product Title
                input(type = "text", value = product.title, name = "title", class = (errors.find((error) => error.param === 'title') ? 'invalid' : ''), id = "title", required = "required") 
            .form-control  
                label(for = "description") Product Description
                textarea(rows = "6", name = "description", class = (errors.find((error) => error.param === 'description') ? 'invalid' : ''), id = "description", required = "required") #{ product.description }
            .form-control  
                label(for = "price") Product Price
                input(type = "number", step = "0.01", value = product.price, name = "price", class = (errors.find((error) => error.param === 'price') ? 'invalid' : ''), id = "price", required = "required")
            .form-control  
                label(for = "image") Product Price
                input(type = "file", value = product.imageURL, name = "image", class = (errors.find((error) => error.param === 'image') ? 'invalid' : ''), id = "image")
            input(type = "hidden", name = "itemId", value = product._id)
            input(type = "hidden", name = "_csrf", value = csrfToken)
            button(type = "submit") Update Product                           