.cart__item-list {
  list-style: none;
  padding: 0;
  margin: 4rem auto;
  width: 40rem;
}
  
.cart__item-list form {
  text-align: right;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #40826d;
  border-radius: 11px;
  margin-bottom: 1rem;
}
  
.cart__item h1,
.cart__item h2 {
  margin-right: 1rem;
  font-size: 1.2rem;
  margin: 0;
}  

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #40826d;
}