.grid {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
  
.card {
  padding: 1.5rem;
  width: 20rem;
  text-align: left;
  border-radius: 0.5rem;
}

.card img {
  display: block;
  height: 11rem;
}
 
.card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
 
.card p {
  margin: 0.5rem 0;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
} 

.card button {
  margin: 0.5rem 0;
  width: 100%;
}