extends layout/skeleton.pug

block title 
    title #{ pageTitle }

block styles
    link(rel = "stylesheet", href = "/css/")

block content
    .custom-error
        h1 404!
        h3 Page not found, sorry for the inconvenience.