extends layout/skeleton.pug

block title 
    title #{ pageTitle }

block styles
    link(rel = "stylesheet", href = "/css/")

block content
    .custom-error  
        h1 500!
        h3 Something went wrong, sorry for the inconvenience!