<%- include('partials/header'); -%>

<header>
    <div class = "hero">
        <img src = "/smoothie.png" alt = "hero-image">
    </div>
    <div class = "tags">
        <h2>Smoothie Recipes</h2>
        <h3>By Ninjas For Ninjas</h3>
        <a href = "/smoothies" class = "button">View Recipes</a>
    </div>
</header>

<%- include('partials/footer'); -%>