<%- include('partials/header'); -%>

<ul class = "grid">
    <li class = "recipe">
        <img src = "/smoothie.png" alt = "recipe-image">
        <h4>Banana Boost</h4>
        <p>Banana, vanilla cream and milk</p>
    </li>
    <li class = "recipe">
        <img src = "/smoothie.png" alt = "recipe-image">
        <h4>Tropical Twist</h4>
        <p>Peach, pinapple and apple juice</p>
    </li>
    <li class = "recipe">
        <img src = "/smoothie.png" alt = "recipe-image">
        <h4>Protein Packer</h4>
        <p>Oats, peanut butter, milk, banana and blueberries</p>
    </li>
</ul>

<%- include('partials/footer'); -%>