extends ../layout/skeleton.pug

block title 
    title #{ pageTitle }

block styles
    link(rel = "stylesheet", href = "/css/form.css")

block content        
    main
        if errors.length > 0 
            .user-message.user-message__error #{ error[0].msg }
        form.save-form(action = "/auth/save-password", method = "POST")
            .form-control  
                label(for = "password") Password
                input(type = "password", name = "password", id = "password", value = oldInput.password, class = (errors.find((error) => error.param === 'password') ? 'invalid' : ''), required = "required")
            input(type = "hidden", name = "userID", value = userID)
            input(type = "hidden", name = "resetKey", value = token)
            input(type = "hidden", name = "_csrf", value = csrfToken)
            button(type = "submit") Save Password