extends ../layout/skeleton.pug

block title 
    title #{ pageTitle }

block styles
    link(rel = "stylesheet", href = "/css/cart.css")

block content        
    main
        if products.length > 0
            ul.cart__item-list
                each product in products
                        li.cart__item
                            h1 #{ product.productID.title }
                            h2 Quantity - #{ product.quantity }
                            form(action = "/delete-cart" method = "POST")
                                input(type = "hidden" name = "itemId" value = product.productID._id)
                                input(type = "hidden" name = "_csrf" value = csrfToken)
                                button(class = "btn" type = "submit") Delete
                .footer
                    h4 Total - $ #{ total }
                    button(class = "btn")
                        a(href = "/checkout") Checkout
        else 
            h2 Nothing in cart yet, continue shopping!