extends ../layout/skeleton.pug

block title 
    title #{ pageTitle }

block styles
    link(rel = "stylesheet", href = "/css/checkout.css")

block content        
    main
        .tile
            .text
                h3 Proceed to pay for your order.
                h4 Amount payable is $ #{ total }.
            button(id = "order-btn" class = "btn") Order Now
    script(src = "https://js.stripe.com/v3/")
    script(type = "text/javascript").
        var stripe = Stripe('pk_test_51J3bIcSAwnDn9edXhOYFf2HZg4BmIg0xAdfR2IhGGJXEbqJ0jvB9IyImkYbs8i818WVck2ToOEhflZRoikioGolj00XyNGxj0f')
        var button = document.querySelector('#order-btn')
        button.addEventListener('click', function () {
            stripe.redirectToCheckout({ sessionId: '#{ sessionID }' })
        })