extends ../layout/skeleton.pug

block title 
    title #{ pageTitle }

block styles
    link(rel = "stylesheet", href = "/css/order.css")

block content        
    main
        if orders.length > 0 
           ul.orders
                each order in orders
                    li.orders__item
                        h1 Order Reference #{ order._id } 
                        a(href = "/orders/" + order._id) Download invoice here.
                        ul.orders__products
                            each item in order.products
                                li.orders__products-item #{ item.product.title } (#{ item.quantity })
        else 
            h2 No orders found, continue shopping!